@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap");
.headline_container {
  display: flex;
  box-sizing: border-box;
  height: 140px;
  align-items: center;
  border: 1px solid #eef3f8;
  border-radius: 4px;
  background-color: #fff;
  margin: 17px 143px 0 143px;
  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  }
}

.image_container {
  margin: 36px 27px 37px 11px;
  min-width: 300px;
}
.image_container img {
  height: 129px;
  width: 315px;
  max-width: 100%;
  border-radius: 4px;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}
.headline_content_container {
  flex: 1 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 12px;
  justify-content: space-evenly;
  padding-right: 24px;
}
.headline_title_container {
  padding-right: 24px;
  font-size: 17px;
  font-weight: 700;
}
.sources_container {
  font-size: 12px;
  color: #1e2e4a;
  display: flex;
  justify-content: space-between;
  div {
    color: #1e2e4a;
    border: 1px solid #7f8eaf;
    padding: 5px;
    margin: 3px;
    border-radius: 4px;
    &:hover {
      background-color: #1e2e4a;
      color: #fff;
    }
  }
}
