@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap");

.header {
  height: 92px;
  position: sticky;
  top: 0px;
  z-index: 4;
  background: #1a2a45;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
  display: flex;
  padding: 0px 20px;
  font-family: "Montserrat", sans-serif;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #f1f1f1;
}
.search_content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.navigation {
  color: #fff;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 54px;
  margin-right: -20px;
}
.navigation ul {
  margin: 0px;
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 50px;
}
.navigation ul li {
  font-family: "Montserrat", sans-serif;
  margin: 1px 28px 0px 2px;
  height: 100%;
  align-items: center;
  font-size: 15px;
  display: inline-block;
  font-weight: 450;
}
.navigation ul li a:active {
  padding-bottom: 17px;
  color: #fdfeff !important;
  font-weight: 450;
}
.navigation ul li a:hover {
  padding-bottom: 17px;
  color: #6f7070;
  font-weight: 450;
}

.toggle_button {
  background-color: #1e2e4a;
  height: 2rem;
  width: 7rem;
  color: #fff;
  outline: none;
  margin-top: -6px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 1px solid rgb(120, 123, 168);
  cursor: pointer;
  &:hover {
    background-color: #d7dde9;
    color: #1e2e4a;
  }
  &:active {
    background-color: rgb(187, 187, 133);
  }
}
.user_image {
  margin-top: -7px;
  margin-left: -24px;
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid rgb(201, 138, 136);
    box-shadow: 0px 0px 8px rgb(88, 85, 85, 1.2);
  }
}
