// search container
.search_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.search_container {
  width: 40rem;
  max-width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1e2e4a;
  border-radius: 80px;
  position: relative;
  input {
    width: 39rem;
    max-width: 100%;
    height: 3.5rem;
    align-items: center;
    border-radius: 80px;
    padding: 0rem 2rem 0rem 2rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
  }
  .search_icon {
    position: absolute;
    right: 16px;
  }
}
