.sources_container {
  margin: 12px 100px 9px 102px;
  text-align: center;
  padding: 1rem;
  margin: 0rem auto;
  width: 100rem;
  max-width: 100%;
  h1 {
    font-size: 30px;
    font-weight: 800;
    color: #1e2e4a;
  }
  .sources_wrapper {
    display: flex;
    height: 180vh;
    flex-direction: column;
    flex-wrap: wrap;
    .source_link_container {
      border: 1px solid #eef3f8;
      height: 2rem;
      width: 19rem;
      margin: 1px;
      border-radius: 4px;
      padding: 6px 4px 8px 11px;
      text-align: center;
      a {
        font-size: 13px;
        color: #1e2e4a;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
