.todo_container {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: azure;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input_container input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
.todo_input_container {
  display: flex;
  justify-content: space-between;
}
.checkbox_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 12px;
}
.inner_container {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 12px;
  background-color: #4b4b4b;
  margin-left: 0.8rem;
  margin-top: 0.5rem;
}
.todo_full_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add_button {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
}
.svg_container {
  display: flex;
  justify-content: space-between;
  margin-left: 11rem;
}
.edit_input_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  input {
    font: inherit;
    padding: 0.2rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 10rem;
    max-width: 100%;
  }
  .arrow_container {
    margin-top: 4px;
    margin-left: 4px;
  }
}
