@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap");
.news_main_heading {
  color: #0c0c0c;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33px;
  padding: 42px 0 0 33px;
}
.news_main_container {
  display: flex;
  box-sizing: border-box;
  height: 232px;
  align-items: center;
  border: 1px solid #eef3f8;
  border-radius: 4px;
  background-color: #fff;
  margin: 23px 100px 0px 100px;
  &:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  }
}
.news_image_container {
  margin: 8px 22px 12px 10px;
  min-width: 400px;
}

.news_image_container img {
  height: 200px;
  width: 400px;
  max-width: 100%;
  border-radius: 4px;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}
.news_content_container {
  flex: 1 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 24px;
  position: relative;
}
.source_news {
  font-size: 12px;
  font-weight: 500;
  color: #1e2e4a;
  border: 1px solid #1e2e4a;
  position: absolute;
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
  top: 1px;
  right: 1px;
  &:hover {
    background-color: #1e2e4a;
    color: #fff;
  }
}
.news_heading {
  color: #0c0c0c;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
  margin: 13px 0px 0px 0px;
}
.news_content {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -11px;
  height: 76px;
  overflow: hidden;
}
.news_content_container a {
  display: inline;
  color: #6b2731;
  font-weight: 700;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.link_container {
  position: relative;
}
.anchor_container {
  display: inline-block;
  margin: 0px 1px 10px 6px;
}
.anchor_container a {
  background-color: #1e2e4a;
  color: #fff;
  font-size: 15px;
  padding: 9px 7px 9px 7px;
  font-weight: 600;
  border-radius: 4px;
  margin-left: -9px;
}
.bookmark {
  position: absolute;
  right: 10px;
  margin: -29px -4px -4px 3px;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 30%;
}
.bookmarked {
  height: 25px;
  width: 25px;
  color: #7594c9;
}
.book_unmarked {
  height: 25px;
  width: 25px;
  color: #1e2e4a;
}
// loader

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 220vh;
  background-color: #e2e0e054;
}
.warning_container {
  display: flex;
  margin-top: -8px;
}
.warning_title_container {
  margin: 3px;
  padding-left: 10px;
  color: #1e2e4a;
  font-size: 16px;
  font-weight: 700;
}
.modal_link {
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 3px;

  color: #26255e;
  margin-top: 8px;
  cursor: pointer;
  a {
    border-bottom: 1px solid #26255e;
  }
}
.loader_container {
  height: 88vh;
  width: 222vh;
  background-color: #e2c7cb;
}
.show_time {
  color: #1e2e4a;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  margin-top: 1px;
  display: flex;
  .updated_time {
    margin: 1px 0px 0px 4px;
  }
}
.news_time_container {
  margin-top: -11px;
}
.bookmark_container {
  height: 250vh;
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

.error_box {
  background-color: #5c57a175;
  height: 4rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dadee4;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
}
